<!doctype html>
<head>
    <title>Random Scrap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
    <article>
        <section>
            <p class="bucket bucket--{{ bucket }}">
                {{ bucket }}
            </p>
            <p class="date">
                {{ created_at.humanize(locale="de") }}
                <br>
                {{ created_at.format("dddd, D. MMMM YYYY", locale="de") }}
                <br>
                {{ created_at.format("H:mm", locale="de") }} Uhr
            </p>
            <div class="content content--{{ bucket }}">
                {{ text }}
            </div>
            {% if metadata %}
                <ul class="meta-items">
                {% for item in metadata %}
                    <li class="meta-item{% if item.kind %} meta-item--{{ item.kind }}{% endif %}">
                        {% if item.url %}
                            <a href="{{ item.url }}">
                                {% if item.url_name %}
                                    {{ item.url_name }}
                                {% else %}
                                    {{ item.content }}
                                {% endif %}
                            </a>
                        {% else %}
                            {% if item.kind == "tag" %}#{% endif %}{{ item.content }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <a href="/random" class="refresh"><img src="data:image/svg+xml;utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3OCIgaGVpZ2h0PSI4OCIgdmlld0JveD0iMCAwIDc4IDg4Ij4NCiAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTM2LjIgODcuNGMyMS4yIDEuNSAzOS0xNC4yIDQxLjEtMzQuNi4yLTItMS40LTMuOC0zLjUtMy44aC05LjFjLTEuOCAwLTMuMiAxLjMtMy40IDMuMS0xLjYgMTEuOC0xMi40IDIwLjctMjQuOSAxOS4zLTEwLjMtMS4yLTE4LjYtOS41LTE5LjgtMTkuOEMxNS4xIDM4IDI1LjcgMjYuNSAzOSAyNi41VjM1YzAgMi40IDIuOCAzLjcgNC42IDIuMWwxOC45LTE2YzEuMy0xLjEgMS4zLTMuMSAwLTQuM0w0My42LjhDNDEuNy0uNiAzOSAuNyAzOSAzdjcuNUMxNi45IDEwLjUtLjkgMjkuMy42IDUxLjdjMS4zIDE5IDE2LjcgMzQuNCAzNS42IDM1Ljd6Ii8+DQo8L3N2Zz4="></a>
        </section>
    </article>
    <script>
        {# window.setTimeout(function () {
            location.reload();
        }, 3000) #}
    </script>
</body>
